/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: var(--roboto);
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.header {
    padding: 0 2rem;
    background-color: var(--dark-blue-600);
    box-shadow: 5px 5px 35px #000a;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    max-width: 1050px;
    margin: 0 auto;
}

.header .logo {
    filter: brightness(0) invert(1);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 2rem;
    height: calc(100% - 5rem);
    width: 100%;
    max-width: 1440px;
    max-width: 0 auto;
    padding: 1.5rem 0;
}

.btn {
    color: var(--button);
    border: 1px solid var(--dark-blue-600);
    background-color: transparent;
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: .25s all;
    cursor: pointer;
    box-shadow: 5px 5px 15px #0002;
}

.btn.btn-primary {
    color: var(--button);
    background-color: var(--dark-blue-600);
    box-shadow: 5px 5px 15px #0005;
}

.btn:hover {
    background-color: var(--gray-600);
    transform: scale(1.05);
}

.btn-theme {
    background-color: transparent;
    cursor: pointer;
}

/* FORM START*/

.form {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 680px;
    padding-top: 80px;
    width: 100%;
    margin-left: auto;
}

.form .textarea {
    flex: 1;
    color: var(--dark-blue-600);
    font-size: 2rem;
    background-color: transparent;
    resize: none;
}

.form .textarea::placeholder {
    color: var(--dark-blue-600);
}

.form .label {
    font-size: .75rem;
    color: var(--gray-600);
}

.form .form__buttons .btn {
    flex: 1;
}

/*RESULT CONTAINER*/

.result-container {
    position: relative;
    width: 100%;
    max-width: 340px;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px #0002;
    overflow-y: hidden;
}

.result-container .no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    height: 100%;
}

.result-container .no-result.interative {
    display: none;
}

.result-container .no-result .no-result__image {
    width: 100%;
}

.result-container .no-result .no-result__title {
    color: var(--gray-600);
    font-size: 1.5rem;
    text-align: center;
}

.result-container .no-result .no-result__text {
    text-align: center;
}

.result-container .result.active {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.result-container .result .no-result__text {
    float: 1;
    font-size: 1.5rem;
    color: var(--gray-600);
    resize: none;
    max-height: 100%;
    overflow-y: scroll;
    background: transparent;
    word-wrap: break-word;
}

.result-container .result .no-result__text::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.result #btn-copy {
    position: sticky;
    bottom: 0;
}

.copy-success {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: .9rem;
    color: #fff;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px #0005;
    transform: translateY(-150%);
    text-transform: capitalize;
    font-weight: 500;
    transition: 1s transform;
    text-align: center;
}

.copy.active {
    transform: translateY(0%);
}

.copy-success {
    background-color: #4bb543;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
    background-color: var(--dark-blue-600);
    box-shadow: -5px 5px 35px #000a;
    padding: 0 1rem;
}

.rodape .footer__text {
    font-size: .8rem;
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5rem;
}

.rodape .footer__text a {
    font-size: .8rem;
    color: var(--dark-blue-600);
    text-decoration: none;
    color: var(--button);
}

.rodape .footer__text a:hover {
    text-decoration: underline;
}

.rodape .footer__text strong {
    font-size: .8rem;
}